# Environment IDs
CCLOUD_ENV := env-
CCLOUD_CLUSTER := lkc-

CCLOUD_BOOTSTRAP_SERVERS := pkc-.-west-1.aws.confluent.cloud:9092
CCLOUD_SR :=
CCLOUD_SR_URL := https://

# CCloud Exporter API Keys (CCloud)
CCLOUD_EXPORTER_API_KEY :=
CCLOUD_EXPORTER_API_SECRET :=

# Kafka Connect API Keys (Kafka Cluster and SR)
CCLOUD_CONNECT_API_KEY :=
CCLOUD_CONNECT_API_SECRET :=

CCLOUD_CONNECT_SR_API_KEY :=
CCLOUD_CONNECT_SR_API_SECRET :=

# Application API Keys (Kafka Cluster and SR)
CCLOUD_SERVICE_ACCOUNT :=
CCLOUD_API_KEY :=
CCLOUD_API_SECRET :=

CCLOUD_SR_API_KEY :=
CCLOUD_SR_API_SECRET :=


