bootstrap.servers=pkc-.-west-1..confluent.cloud:9092
ssl.endpoint.identification.algorithm=https
security.protocol=SASL_SSL
sasl.mechanism=PLAIN
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="44YXRTUPVA23NKZL" password="W13uXjUI83qVSBtDtTaIhgFbK0z8GVrglvG8H1i5THOboKyTFfgBguh6mcCj8hHe";